.articles {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color:rgb(255, 255, 255);
  margin-left: 16%;
  margin-right: 16%;
}

.article {
  margin-top: 50px;
}

.body{
  background-color: rgb(119, 119, 119);
}

