.navbar-brand{
  background-color:rgb(158, 9, 9);
  font-family: Calibri;
  font-weight: 100;
  font-size: 25px;
  padding: 10px 10px 10px 10px;
  margin: -8px
}

.navbar .navbar-collapse {
  text-align: center;
}


.bg-color{
  background-color:rgb(32, 32, 34);
}
